
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
target/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Environment files
.env

# Maven
.mvn/
!**/src/main/**
!**/src/test/**

# Eclipse
.project
.classpath
.csettings/
.settings/

# Build output
build/
bin/
